a{
     color: #e8e4e4;
    text-decoration: none;
    font-weight: bold; }
a:hover{ 
color:darkolivegreen;
    text-decoration: underline;
    .button{ position: absolute;
   top: 50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px; 
}   
h1 {
color:#bd8e63;
font-family: serif;
font-size: 80px;
text-align-last: center;
}
h2 {
    font-size: 40px;
    text-indent: 50px;
}
h3 {font-size: 19px}
h4 {font-size: 50px;
color: #e8e4e4;
text-align-last: center;
}
.center {
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height:auto;}
.image1 {width: 95%;
             height: 400;}
.image2 {width: inherit;
    max-width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 5%;}
   <style>
#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #;
}
</style>